body{
background-image:url(https://images.unsplash.com/photo-1551573355-19727699d60a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80);
background-repeat:no-repeat;
background-size:100%
}